.inner-box {
    position: relative;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.inner-box .image-box {
    position: relative;
    padding: 15px;
    background: rgba(255, 94, 20, 0.1);
    overflow: hidden;
    border-radius: 5px;
}

.inner-box .image-box::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: #ff5e14;
    content: "";
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
}

.inner-box .image-box .image {
    position: relative;
    margin-bottom: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}

.inner-box .image-box .image::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    content: "";
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
    opacity: 0.4;
    z-index: 1;
    top: auto;
    bottom: 0;
}

.inner-box .image-box .image img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 991px) {
    .inner-box .image-box {
        margin-bottom: 30px;
    }
}

.inner-box:hover .image-box::before {
    height: 100%;
}

.inner-box:hover .image-box .image:after {
    height: 100%;
}

.inner-box .social-links {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -170px;
    padding: 20px;
    width: 95%;
    z-index: 9;
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
    background-color: rgba(255, 94, 20, 0.85);
    border-radius: 5px;
}

@media (min-width: 480px) and (max-width: 767px) {
    .inner-box .social-links {
        padding: 15px 12px;
    }
}

.inner-box .social-links ul {
    position: relative;
    text-align: center;
}

.inner-box .social-links ul li {
    position: relative;
    display: inline-block;
    margin: 0 3px;
}

@media (min-width: 480px) and (max-width: 767px) {
    .inner-box .social-links ul li {
        margin: 0 1px;
    }
}

.inner-box .social-links ul li a {
    position: relative;
    display: block;
    color: #ff5e14 !important;
    background: #f0f1f2 !important;
    font-size: 14px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.inner-box .social-links ul li a:hover {
    background: #1d3271 !important;
    color: #fff !important;
}

@media screen and (max-width: 479px) {
    .inner-box .social-links ul li a {
        height: 35px;
        width: 35px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .inner-box .social-links ul li a {
        font-size: 12px;
        height: 30px;
        width: 30px;
    }
}

.inner-box .social-links .caption-box {
    text-align: center;
    margin-bottom: 10px;
}

.inner-box .social-links .caption-box h4 a {
    color: #fff;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

@media screen and (max-width: 767px) {
    .inner-box .social-links .caption-box h4 a {
        font-size: 19px;
        line-height: 32px;
    }
}

.inner-box .social-links .caption-box .designation {
    font-family: "Roboto";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
}

@media screen and (max-width: 575px) {
    .inner-box .social-links .caption-box .designation {
        margin-bottom: 10px;
    }
}

.inner-box:hover .social-links {
    bottom: 8px;
}

.inner-box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}