.nav-item a {
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 500;
    /* color: #1d3271; */
    display: inline-block;
    margin-right: 35px;
    margin-left: 0;
    text-transform: capitalize;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    position: relative;
}
.nav-item a:hover {
    color: #ff5e14 !important;
}
.dropdown-menu.show {
    width: 250px;
    left: -154px;
}